/* 
    Fonts Guide:
        Navigation [top + lrg.nav txt] - font-family: 'Shadows Into Light', cursive;
        Main [headings + lrg.nav links + form placeholder text] - font-family: 'Libre Baskerville', serif;
        Alt Usage - font-family: 'Amatic SC', cursive;
*/
/* global props */
* {
    padding: 0;
    margin: 0;
}
body {
    text-align: center;
    height: 100%;
    width: 100%;
}
a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
}
/* company | website name  */
.banner {
    font-family: 'Amatic SC', cursive;
    font-size: 2.2em;
    margin: 0 auto;
    text-shadow: 1px 4px #000;
}
/* navigation */
.nav__flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.nav__right .flex__item {
    margin: 20px;
}
.lrg-nav {
    /* margin-top: 45px; */
    padding: 22px;
    margin: 10px auto; 
}
.lrg-nav a,
.foot-nav a {
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    letter-spacing: 8px;
    /* padding: 200px; */
    /* margin: 1000px auto; */
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
}
#navigation h2 {
    font-size: 1.4em;
    margin-top: 40px;
}
#navigation p {
    font-size: 1em;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
}
/* generic container for desktop placement */
.container,
.section__container {
    color: #fff;

}
section {
    padding: 10px;
    margin: 10px auto;
    /* height: 30vh; */
}
/* header props [top nav bar] */
.header a {
    font-family: 'Shadows Into Light', cursive;
}
.header button {
    background-color: rgba(0, 50, 170, 0.6);
    border: none;
    color: #fff;
    padding: 5px;
    text-decoration: underline;
}
.flex__container {
    color: #fff;
}
/* main section props */
#main {
    font-family: 'Libre Baskerville', serif;
    /* height: 55vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 25px; */
    
}
#main h2 {
    
    font-size:3em;
    letter-spacing: 1px;
    padding-bottom: 20px;
    text-shadow: 1px 1px #000;
    text-decoration: underline;
    
}
#main h4 {
    color: rgba(85, 100, 250, 0.9);
    font-size: 1.5em;
    text-shadow: #333 1px 1px;
}
#main i {
    font-size: 2em;
    padding: 3px;
    text-shadow: 2px 2px #000;
}
#main p {
    font-family: 'Amatic SC', cursive;
    
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* section props */
section h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
    text-decoration: underline;
}
section p {
    /* font-family: 'Shadows Into Light', cursive; */
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-shadow: 1px 1px #000;
}
/* search form props */
form {
    font-family: 'Amatic SC', cursive;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    
    
}
form input {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    padding: 12px;
    background-color: inherit;
    border: 3px solid #fff;
    
    text-align: center;
    width: 80%;
    margin: 10px auto;
    transition-timing-function: ease-in;
    transition-duration: 500ms;
    transition-property: all;
}
form input:focus {
    background-color: rgb(97, 145, 235);
    width: 250%;
    
}


form input[type="submit"] {
    background: #333;
    opacity: 0.6;
    text-align: center;
    /* height: 30px; */
    border-radius: 15px;
    
    width: 50%;
    padding: 20px;
    font-size: 1.5em;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;

}
form input[type="submit"]:hover {
    background-color: rgba(85, 100, 250, 0.7);
    opacity: 1;
    text-decoration: underline;
    border-radius: 0;
}
form input::placeholder {
    color: #fff;
}
/* footer props */
footer.footer {
    font-family: 'Shadows Into Light', cursive;
    padding: 10px 0px;
    
}
footer.footer h2 {
    text-decoration: underline;
    font-size: 1.7em;
}
footer i {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 200%;
    padding: 15px;
}



/* main button props */
button.enter,
button.enter__act {
    background: none;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;
}
.enterBtn {
    background: none;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px;
}
.enterBtn:hover {background-color: rgba(85, 100, 250, 0.7);}


.showcase_ball,
.showcase_box {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: ease;
    
}
.showcase_ball:hover,
.showcase_box:hover {
    transform: translateY(-20px);
    border-radius: 10px;
}
.showcase_ball h5,
.showcase_box h5 {
    /* background-color: rgba(85, 100, 250, 0.7); */
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    
    text-shadow: rgb(97, 145, 235) 2px 2px;
    /* width: 100%; */
    /* height: 100%; */
    
}
/* popular dest */
.showcase__img-thai {background-image: url(../img/thai.jpg);}
.showcase__img-usa {background-image: url(../img/usa.jpg);}
.showcase__img-euro {background-image: url(../img/euro.jpg);}
/* act info */
.box__img-act1 {background-image: url(../img/resorts.jpg);}
.box__img-act2 {background-image: url(../img/adventure.jpg);}
.box__img-act3 {background-image: url(../img/trekking.jpg);}
/* act choice */
.showcase_img-adv {background-image: url(../img/adventure.jpg);}
.showcase_img-rel {background-image: url(../img/relax-bk.jpg);}
.showcase_img-trk {background-image: url(../img/hiking.jpg);}
/* pakcks & grps */
.showcase_img-grp {background-image: url(../img/groups1.jpg);}
.showcase_img-schl {background-image: url(../img/groups2.jpg);}
.showcase_img-priv {background-image: url(../img/groups3.jpg);}
/* destinations.html img */
.showcase__img-dest1 {background-image: url(../img/dest1.jpg);}
.showcase__img-dest2 {background-image: url(../img/dest2.jpeg);}
.showcase__img-dest3 {background-image: url(../img/dest3.jpg);}
.showcase__img-dest4 {background-image: url(../img/dest4.jpg);}
.showcase__img-dest5 {background-image: url(../img/dest5.jpeg);}
.showcase__img-dest6 {background-image: url(../img/dest6.jpg);}
.showcase__img-dest7 {background-image: url(../img/dest7.jpg);}
.showcase__img-dest8 {background-image: url(../img/dest8.jpg);}
.showcase__img-dest9 {background-image: url(../img/dest9.jpg);}
.showcase__img-dest10 {background-image: url(../img/dest10.jpeg);}
.showcase__img-dest11 {background-image: url(../img/dest11.jpg);}

.light__box {
    background-color: rgba(7, 7, 7, 0.2);
    width: 80%;
    padding: 20px;
    color: #fff;
}
.light__box h5 {
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px #333;
    font-size: 125%;
    padding: 5px 0px;
}
.light__box p {
    font-size: 75%;
    text-decoration: underline;
    padding: 2px;
}
.tall__box {
    border-radius: 10px;
    border: 2px solid #fff;
    width: 100%;
    height: 350px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.review {
    border: 2px #fff solid;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}
.review q {
    font-size: 18px;
    text-decoration: underline;
    letter-spacing: 1px;
}

/* hide heading break on mobile */
.hideOnMob {
    /* visibility: hidden; */
    display: none;
}


/* media query for desktop [screen device above: 1060px] */
@media screen and (min-width: 1060px) {
    .container {
        max-width: 1800px;
        margin: 0 auto;
    }
    .showcase__box {
        max-width: 900px;
        width: 900px;
    }
    .showcase_box:hover,
    .showcase_ball:hover {
        transform: translateY(-30px);
        transform: scale(1.2);
        
        
        font-size: 120%;
        font-weight: bold;
        text-transform: uppercase;
        /* border-radius: 10px; */
    }
    .showcase_ball {
        width: 250px;
        height: 250px;
        background-position: center;
        background-size: cover;
        
        border-radius: 50%;
        background-color: #333;
        margin: 15px auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        flex-direction: column;
        
    }
    
    .section__container {
        max-width: 800px;
        margin: 0 auto;
        
    }
    .nav__flex {
        flex-direction: row;
    }
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        /* height: 400px; */
    }
    .flex__inline {
        display: inline-flex;
        flex-flow: row;
        padding: 10px;
    }
    form {
        display: flex;
        flex-direction: row;
    }
    footer.footer {
        padding: 20px 12px;
    }
    footer .flex {
        align-items: center;
        flex-direction: row;
        justify-content: center;
        padding: 15px;
        
    }
    footer .flex .flex__item {
        max-width: 300px;
        margin: 20px;
    }
    
    .flex__container {
        /* display: inline-flex; */
        margin: 10px auto;
        max-width: 800px;
        
    }
    header.header{
        padding: 0;
        margin: 0 auto;
        margin-right: 20px;
        height: 50px;
    }
    .hideOnMob {
        /* visibility: visible; */
        display: block;
    }
    .light__box {
        background-color: rgba(7, 7, 7, 0.2);
        width: 80%;
        padding: 20px;
        color: #fff;
    }
    #main h2 {
        font-size:4em;
        text-shadow: 2px 2px #000;
        letter-spacing: 8px;
       
        
    }
    #main h4 {
        font-size: 1em;
        letter-spacing: 2px;
        text-decoration: underline;
        text-shadow: 1px 1px #000;
    }
    #activities .flex {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        /* margin: 20px; */
    }
    
    .tall__box {
        height: 400px;
        width: 300px;
        background-position: center;
        background-size: cover;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 10px;
        text-align: center;
        
        transition-duration: 1s;
        transition-property: transform;
        transition-timing-function: ease;
    }
    .tall__box:hover {
        transform: scale(1.2);
    }
    .tall__box h5 {
        margin: auto;
    }
    /* spans */
    .left {
        float: left;
        margin-left: 20px;
    }
    .right {
        float: right;
        
    }
    .nav__right {
        float: right;
        margin-top: 25px;
        margin-right: 20px;
    }
    span.blue {
        background-color: rgb(97, 145, 235);
    }
    
    .clearfix {
        clear: both;
    }

}
